%h1 Cesar
%br
.container
  .row{:style => "text-align: center;"}
    %img{:src => "/lib/yao-ming-meme.jpg"}
%br
%br
%h3= "Senhas descriptografadas para: #{params[:senha]}"
%table{:class => "table table-striped"}
  %thead
    %tr
      %th.span1 Cifra
      %th Possibilidade
  %tbody
    - @possibilidades.each_with_index do |senha, indice|
      - next if indice == 0
      %tr
        %td= indice
        %td= senha
%a{:href => "/cesar", :class => "btn btn-primary"} 
  %i{:class => "icon-white icon-arrow-left"} 
  = "&nbsp;Voltar"