%h1 Rail Fence
%br
%br
%h3= "Senhas descriptografadas para: #{params[:senha]}"
%table{:class => "table table-striped"}
  %thead
    %tr
      %th.span1 Chave
      %th Possibilidade
  %tbody
    - @possibilidades.each_with_index do |senha, indice|
      %tr
        %td= indice+1
        %td= senha
%a{:href => "/rail_fence", :class => "btn btn-primary"} 
  %i{:class => "icon-white icon-arrow-left"} 
  = "&nbsp;Voltar"